recursive-include gotocpc/includes *.ccz80
recursive-include gotocpc/templates *.*
recursive-include gotocpc/bin/linux *.*
recursive-include gotocpc/bin/darwin *.*
recursive-include gotocpc/bin/win32 *.*
